<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lightapp.lightlauncher"
    android:versionCode="2"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="18" />


    <uses-permission android:name="com.android.vending.BILLING"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Goods Categorye"
        android:theme="@style/AppTheme"
        android:debuggable="false"
        android:name=".LightApplication">
        <activity
            android:name="com.lightapp.lightlauncher.GoodsPresentActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lightapp.lightlauncher.FullscreenActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />

        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>

        <activity
            android:name="com.lightapp.lightlauncher.GoodsDetailActivity"
            android:label="@string/title_activity_goods_detail" >
        </activity>

        <!--
        begin in app purchase host integration
        -->
        <provider android:name="com.vg.billing.db.OrderProvider" android:authorities="com.vg.billing"/>
        <service android:name="com.vg.billing.IAPHelperService" android:label="IAB Helper Service" android:exported="false"/>
        <!--
        end in app purchase host integration
        -->

    </application>

</manifest>
